/* ----------------------------- *\
 |             $RESET            | */
/* ----------------------------- *\ */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) Changed from CSS to SASS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
}

dl, ol, ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

a {
  text-decoration: none;
}

/* ----------------------------- *\
 |              $Var             | */
/* ----------------------------- *\ */
/*-------Branding colors */
/*-------Typography */
/*-------Part */
/*-------Textures */
/*-------Media */
/*-------Grids */
/*-------Constant */
/* ----------------------------- *\
 |              $BASE            | */
/* ----------------------------- *\ */
body {
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  min-height: 100vh;
  height: auto;
}

.nav {
  background-color: #005a87;
  height: 51px;
  margin-left: 15.6%;
  width: 84.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__a i {
  font-size: 25px;
  color: #f8f9fa;
}

.nav__account {
  padding: 6px 0px;
  width: 260px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 20% 80%;
      grid-template: 100%/20% 80%;
}

.nav__profile {
  background-color: white;
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(32, 201, 151, 0.16), 0 3px 6px rgba(32, 201, 151, 0.23) !important;
          box-shadow: 0 3px 6px rgba(32, 201, 151, 0.16), 0 3px 6px rgba(32, 201, 151, 0.23) !important;
}

.nav__profile img {
  position: absolute;
  width: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__identity {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.nav__id {
  font-weight: 600;
  color: #f8f9fa;
}

.nav__name {
  font-weight: 400;
  color: #f8f9fa;
}

.main {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 15.6%;
  -webkit-box-shadow: 9px 50px 17px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 9px 50px 17px 2px rgba(0, 0, 0, 0.75);
}

.main__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
  margin: 0px;
  border-bottom: 1.5px solid #212529;
}

.main__body {
  padding: 0.8rem 0.5rem 0px 0.5rem;
}

.main__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.main__li {
  margin-bottom: .8rem;
}

.main__a {
  height: 3rem;
  padding: .5rem 1rem;
  border-radius: .25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 20% 50% 30%;
      grid-template: 100%/20% 50% 30%;
  color: #005a87;
}

.main__a--actived {
  height: 3rem;
  padding: .5rem 1rem;
  background-color: #005a87;
  border-radius: .25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 20% 50% 30%;
      grid-template: 100%/20% 50% 30%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #f8f9fa;
}

.main__icon {
  padding-right: 0.4rem;
  font-size: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 1px;
}

.document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  min-height: 86.2px;
  margin-left: 15.6%;
  width: 84.4%;
}

.docHeader {
  width: 100%;
  max-height: 4.2rem;
  padding: 15px .5rem;
  background-color: #f8f9fa;
}

.docHeader__container {
  padding-right: 7.5px;
  padding-left: 7.5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.docHeader__title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.docHeader__h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.docHeader__breadCrump {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.docHeader__ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  float: right !important;
}

.docBody {
  width: auto;
  min-height: 36.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (9.09091%)[11];
      grid-template-rows: repeat(11, 9.09091%);
  -ms-grid-columns: (5.88235%)[17];
      grid-template-columns: repeat(17, 5.88235%);
  min-height: 391px;
  position: relative;
}

.aboutMe__container {
  padding: 20px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 3 / 2 / 9 /7;
}

.aboutMe__imgPrincipal {
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-area: 3 / 7 / 9 / 11;
}

.aboutMe__p:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 7;
  grid-area: 2 / 9 / 4 / 16;
}

.aboutMe__p:nth-of-type(2) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 6;
  grid-area: 4 / 10 / 6 / 16;
}

.aboutMe__p:nth-of-type(3) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 6;
  grid-area: 7 / 10 / 8 / 16;
}

.aboutMe__p:nth-of-type(4) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 7;
  grid-area: 9 / 9 / 12 / 16;
}

.statsAboutMe {
  min-height: 195px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: (16.66667%)[6];
      grid-template-columns: repeat(6, 16.66667%);
  background-color: #005a87;
  width: 100%;
}

.formation {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formation__container {
  width: 100%;
  min-height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (33.33333%)[3];
  -ms-grid-columns: 20% 80%;
      grid-template: repeat(3, 33.33333%)/20% 80%;
}

.formation__bloq1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
  background: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formation__bloq1--leading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
  background: #005a87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formation__icon {
  margin-top: 5px;
  background-color: #005a87;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formation__icon--leading {
  margin-top: 5px;
  background-color: #f8f9fa;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formation__i {
  font-size: 30px;
  color: #f8f9fa;
}

.formation__i--leading {
  font-size: 30px;
  color: #005a87;
}

.formation__bq1Title {
  margin-top: 20px;
  font-weight: 700;
}

.formation__bq1Title--leading {
  color: #f8f9fa;
  margin-top: 20px;
  font-weight: 700;
}

.formation__bloq2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 4 / 3;
  background: #f8f9fa;
}

.formation__bloq2--leading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 4 / 3;
  background: #005a87;
}

.formation__bq2Title {
  font-weight: 700;
  font-size: 25px;
  margin: 20px 20px 0px 20px;
}

.formation__bq2Title--leading {
  color: #f8f9fa;
  font-weight: 700;
  font-size: 25px;
  margin: 20px 20px 0px 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #f8f9fa;
  margin-top: auto;
  height: 3.3rem;
  outline: 2px solid rgba(67, 142, 105, 0.3);
  margin-left: 15.6%;
  width: 84.4%;
}

.container {
  background-color: gray;
  margin: 10px;
  width: 500px;
  height: 500px;
}

.link--blue {
  color: #20c997;
}

.separator {
  width: 100%;
  height: 5px;
  background-color: #20c997;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 15;
  grid-area: 1 / 1 / 1 / 16;
}

.separator--reverse {
  width: 100%;
  height: 5px;
  background-color: #20c997;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 15;
  grid-area: 12 / 3 / 13 / 18;
  position: absolute;
  bottom: -2px;
  background-color: color;
}

.separator2 {
  width: 88%;
  background-color: #20c997;
  height: 5px;
}

.chartJs {
  padding: 1.2rem 0rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chartJs__intCircle {
  color: #20c997;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  -webkit-box-shadow: inset -90px -77px 16px -105px black;
          box-shadow: inset -90px -77px 16px -105px black;
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #005a87;
  z-index: 1;
}

.chartJs__nameSkill {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #20c997;
  color: #f8f9fa;
  border-radius: 25px;
  width: 7rem;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chartJs__nameSkill p {
  font-size: 90%;
}

.carousel {
  padding: 20px 0px 10px 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 20px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 12px 0px;
  padding-bottom: 10px;
}

.carousel__container:hover .carousel__item {
  opacity: 0.3;
}

.carousel__item {
  width: 100px;
  height: 125px;
  border-radius: 20px;
  background: #20c997;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel__item:hover ~ .carousel__item {
  -webkit-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0);
}

.carousel__img {
  width: 100px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  color: #20c997;
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel__details:hover {
  opacity: 1;
}

.carousel__details--title {
  font-weight: 800;
}

.carousel:hover {
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  height: 7px;
  background-color: rgba(50, 50, 50, 0.2);
}

.carousel::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(50, 50, 50, 0.2);
}

.carousel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel__container:hover .carousel__item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
/*# sourceMappingURL=app.css.map */